# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# IntelliJ
.idea/
*.iml
out/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Env / secrets
application.properties
*.env

# Node (in case UI later uses npm)
node_modules/
dist/